.order-box {
  max-width: 400px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
}

.order-box input,
.order-box textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}
